# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Kotlin
*.iml
.gradle/
.kotlin/
**/build/

local.properties

.idea/
captures/
.externalNativeBuild/
.cxx/

# Other
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db

.vscode/